@use "../mixins/mixins" as *;

.auth {
  &__card {
    width: 545px;
    padding: 3.2rem;
    border: 1px solid #e4e4e4;
    backdrop-filter: blur(20px);
    border-radius: 10px;

    &-wrapper {
      margin-top: 15rem;

      @include query("mobile") {
        margin-top: 13rem;
      }
    }

    &-wide {
      width: 683px;
      border: none;
    }

    @include query("mobile") {
      margin: 0.8rem;
    }
  }
}

.cta__google {
  height: 64px;
  border: 1px solid #141414;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s all ease-out;

  &:hover {
    background: darken(#fff, 4%);
  }

  &-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }
}
